In [9]:
import pandas as pd
df=pd.read_csv(r"C:\Users\prashanthi\Downloads\data.csv")
df

,NAME,CLASS,SECTION,ROLLNO,EMAIL,PHNO,MARKS
0,B.Yamuna,AIR,A,37,yamunalovely9@gmail.com,8897859569,97
1,P.Devi,AIR,A,58,gundrasivesaidurga@gmail.com,9347791232,97
2,J.Ramya,AIR,A,52,jivvireddyramyasri@gmailcom,9676976652,85
3,K.Prasanthi,AIR,A,41,kesanakurthiprasanthi@gmail.com,7382934586,85
4,K.V. Niharika,AIR,A,54,karreveeraniharika@gmail.com,9182532802,96
5,K.Sri Niharika,AIR,A,9,karresriniharika@gmail.com,6300408089,90
6,Y.Kaveri,AIR,A,3,yendamurikaveri@gmail.com,7386015549,60
7,P.Durga,AIR,A,24,durgarani@gmail.com,8466845651,89
8,P.Akhila,AIR,A,29,bottaakhila@gmail.com,8397941799,90
9,P.Neelima,AIR,A,36,pinapalaramesh@gmail.com,7386803023,56

In [10]:
df.max()

NAME                                     Y.Kaveri
CLASS                                         AIR
SECTION                                         A
ROLLNO                                         58
               EMAIL    yendamurikaveri@gmail.com
PHNO                                   9676976652
MARKS                                          97
dtype: object

In [11]:
df.min()

NAME                                 B.Yamuna
CLASS                                     AIR
SECTION                                     A
ROLLNO                                      3
               EMAIL    bottaakhila@gmail.com
PHNO                               6300408089
MARKS                                      56
dtype: object

In [12]:
df["MARKS"].mean()

84.5

In [13]:
df["MARKS"].mode()

0    85
1    90
2    97
Name: MARKS, dtype: int64

In [14]:
df["MARKS"].median()

89.5

In [15]:
df["MARKS"].var()

215.38888888888889

In [16]:
df["MARKS"].std()

14.676133308500876

In [17]:
df["MARKS"].cov(df["ROLLNO"])

119.16666666666666